<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">ユーザー登録</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          <p>名前・メールアドレス・パスワードを入力してください</p>
        </div>
        <%= form_with model: @user, url: user_registration_path do |f| %>
          <div class="input-group mb-3">
            <%= f.text_field :name, class: "form-control", placeholder: "ユーザーネーム", autofocus: true %>
          </div>
          <div class="input-group mb-3">
            <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password, class: "form-control", placeholder: "パスワード(6文字以上)" %>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード確認" %>
          </div>
<!--エラーメッセージ-->
          <% if @user.errors[:name].any? %>
            <div class="alert alert-danger">
              <%= @user.errors[:name].join(', ') %>
            </div>
          <% end %>

          <% if @user.errors[:email].any? %>
            <div class="alert alert-danger">
              <%= @user.errors[:email].join(', ') %>
            </div>
          <% end %>

          <% if @user.errors[:encrypted_password].any? %>
            <div class="alert alert-danger">
              <%= @user.errors[:encrypted_password].join(', ') %>
            </div>
          <% end %>

          <%= f.submit "ユーザー登録", class: "btn btn-block btn-info mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>