<div class="comments card-text">
  <% post.post_comments.reverse.each do |post_comment| %>
  <div class="card">
    <p class="text-right my-2 mr-2" style="font-size: 12px;"><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
    <div class="row">
      <div class="col-md-3">
        <p class="mt-2 ml-2"><%= image_tag post_comment.user.get_profile_image, width: 40, height: 40 %></p>
        <p class="ml-1" style="font-size: 12px;"><%= post_comment.user.name %></p>
      </div>
      <div class="col-md-6 mt-2">
        <p><%= post_comment.comment %></p>
      </div>
      <div class="col-md-3 mt-2">
        <p class="text-right mr-2">
        <% if post_comment.user == current_user || user_signed_in? && current_user.admin? %>
          <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-outline-danger", data: { confirm: "このコメントを本当に削除しますか?" }, remote:true do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        <% end %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>