<div class="container">
  <div class="row no-gutters my-4">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
<!--失敗フラッシュメッセージ-->
      <% if flash[:alert].present? %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <h5 class="text-light bg-dark py-4 mb-0">プロフィール編集</h5>
      <div class="form-body bg-light p-4">
        <div class="mx-auto text-center">
          <p>編集したい内容を入力してください</p>
        </div>
        <hr>
        <%= form_with model: @user do |f| %>
          <div class="input-group mb-3">
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
          <div class="input-group mb-3">
            <%= f.text_field :name, class: "form-control", placeholder: "ユーザーネーム" %>
          </div>
          <div class="input-group mb-3">
            <%= f.text_area :introduction, class: "form-control", placeholder: "自己紹介（好きな生き物など）" %>
          </div>
<!--エラーメッセージ-->
          <% if @user.errors[:name].any? %>
            <div class="alert alert-danger">
              <%= @user.errors[:name].join(', ') %>
            </div>
          <% end %>
<!--更新、削除ボタン-->
          <%= f.submit "更新", class: "btn btn-lg btn-block btn-info mt-5" %>
          <%= link_to "削除",user_path(@user.id), class: "destroy-user btn btn-outline-danger btn-lg btn-block mt-3", method: :delete, "data-confirm" => "本当にこのユーザーを削除しますか？" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
