<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% posts.each do |post| %>
      <% if post.user %>
      <div class="card mb-3">
        <p class="text-right my-2 mr-2">投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <p><%= image_tag post.user.get_profile_image, width: 70, height: 70 %></p>
              <p><%= link_to post.user.name, user_path(post.user) %></p>
            </div>
            <div class="col-md-9">
              <h5 class="card-title">
                <%= link_to post.title, post_path(post) %>
                <% if post.get_image.attached? %>
                  <span class="badge ml-2">（投稿画像あり）</span>
                <% end %>
              </h5>
              <p class="card-text"><%= post.body %></p>

<!--コメント数-->
              <span class="mr-4"><i class="fa-regular fa-comment"></i><%= post.post_comments.count %></span>

<!--いいねボタン-->
              <span id="favorite_btn_<%= post.id %>">
                <%= render "favorites/favorite_btn", post: post %>
              </span>

<!--投稿閲覧数-->
              <span class="ml-4"><%= post.view_counts.count %></span>

            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
<!--ページネーション-->
    <div class="pagination">
      <%= paginate posts %>
    </div>

    </div>
  </div>
</div>