<div class="container">
  <div class="row no-gutters my-4">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
<!--失敗フラッシュメッセージ-->
      <% if flash[:alert].present? %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <h5 class="text-light bg-dark py-4 mb-0">投稿編集</h5>
      <div class="form-body bg-light p-4">
        <div class="mx-auto text-center">
          <p>編集したい内容を入力してください</p>
        </div>
        <hr>
        <%= form_with model: @post do |f| %>
          <div class="input-group mb-3">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="input-group mb-3">
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
          </div>
          <div class="input-group mb-3">
            <%= f.text_area :body, class: "form-control", placeholder: "本文" %>
          </div>
<!--エラーメッセージ-->
          <% if @post.errors[:title].any? %>
            <div class="alert alert-danger">
              <%= @post.errors[:title].join(', ') %>
            </div>
          <% end %>

          <% if @post.errors[:body].any? %>
            <div class="alert alert-danger">
              <%= @post.errors[:body].join(', ') %>
            </div>
          <% end %>
<!--更新ボタン、削除ボタン-->
          <%= f.submit "更新", class: "btn btn-lg btn-block btn-info mt-5" %>
          <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-outline-danger btn-lg btn-block mt-3", data: { confirm: "この投稿を本当に削除しますか?" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>