<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div>
    <% if post.get_image.attached? %>
      <%= image_tag post.get_image %>
    <% end %>
    <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image, width: 100, height: 100 %></p>
    <p>タイトル：<%= post.title %></p>
    <p>本文：<%= post.body %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
  </div>
<% end %>
