<!DOCTYPE html>
<html>
  <head>
    <title>IkimonoToKurasu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6106f3c26d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--ヘッダー-->
    <header>
      <%= render 'layouts/header' %>
    </header>

<!--各コンテンツ-->
    <main class="contents">
      <%= yield %>
    </main>

<!--フッター-->
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-3">
            <p>生き物好きが集まるSNS</p>
            <p><strong>いきものとくらす</strong></p>
          </div>
          <div class="col-md-9 text-right">
            <span><img src="<%= asset_path('クロネコアイコン2.png') %>" alt="ロゴ" style="width: 80px; max-height: auto; object-fit: contain;"></span>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
